---
homepage: true
layout: product
includeInBreadcrumbs: true
title: Test GOV.UK services using the RSpec framework
description: This library provides a set of helpers to test government services against GOV.UK Design System recommendations.
image:
  src: /assets/homepage-illustration.svg
  alt: Illustration of an interface on a laptop screen, from which dotted lines emerge and enter a command line where a green checkmark and red cross are displayed.
startButton:
  href: /get-started
---
<div class="govuk-grid-row">
  <section class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Navigating and filling in forms</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="click-govuk-button">Buttons</a></li>
      <li><a class="govuk-link" href="within-fieldsets">Fieldsets</a></li>
      <li><a class="govuk-link" href="click-govuk-link">Links</a></li>
      <li><a class="govuk-link" href="choosing-radio-options">Radio options</a></li>
      <li><a class="govuk-link" href="fill_in_govuk_text_field">Text fields</a></li>
    </ul>
    <h2 class="govuk-heading-m govuk-!-font-size-27">Expecting content</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="summarise-errors">Error summaries</a></li>
      <li><a class="govuk-link" href="summarise">Summary lists</a></li>
    </ul>
  </section>
  <section class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    <h2 class="govuk-heading-m govuk-!-font-size-27">Contribute</h2>
    <p class="govuk-body">The project repository is public and we welcome contributions from anyone.</p>
    <p class="govuk-body"><a class="govuk-link govuk-!-font-weight-bold" href="{{ pkg.repository.url | replace(".git", "") }}">View this project on GitHub</a></p>
  </section>
</div>
